# ====================================================================
# EXTENSIONS SPÉCIFIQUES
# ====================================================================
*.exe
*.msi
*.apk
*.app
*.dmg
*.pdf

# ====================================================================
# LANGAGES SPÉCIFIQUES (C, C++, Python) & EXÉCUTABLES LINUX
# ====================================================================
*.o
*.obj
*.out
a.out
main
test
run
app
programme
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.poetry/
.venv/
venv/

# ====================================================================
# FICHIERS MULTIMÉDIA ET DOCUMENTS LOURDS
# ====================================================================
*.mp4
*.mov
*.avi
*.mkv
*.mp3
*.wav
*.psd
*.ai
*.sketch
*.fig
*.zip
*.tar.gz
*.rar
*.7z

# ====================================================================
# FICHIERS SYSTÈME
# ====================================================================
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store
.AppleDouble
.LSOverride
._*

# ====================================================================
# DOSSIERS DE SÉCURITÉ
# ====================================================================
.env
.env.local
.env.*.local
*.pem
*.key

Projet-Python/Tree-Structure/Résultat.html
Projet-C/game-of-life/build/

# ====================================================================
# FICHIERS EXECUTABLE PRECIS
# ====================================================================
Projet-C/game-of-life/game-of-life
Projet-C/game-of-life/ai.txt
Projet-C/ascii-art/ascii-art
